body{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

/*.parent_wrapper{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width:400px;
  height:650;

}*/

h1{
  font-family: helvetica;
  font-weight: bold;
  font-size: 64px;
  font-style: italic;
  color:skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*//375 x 627px*/
.header{
  width:400px ;
  height: 50px;
  border:1px solid lavender;
  background-color: lavender;
  align-content:stretch;
 font-family: helvetica;
  font-size: 36px;
  color:skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
}
.food_container{
 display:flex;
 flex-direction:column;
  width:400px;
  height: 50px;
  flex-wrap: wrap;
  text-align:center;
  font-family: helvetica;
 /* display: flex;
  justify-content:center;
  align-items:center;
*/
}

.percent_wrapper{

  height:50px;
  width:150px;
  background-color: orange;
  border:0px solid red;
  order:0;
}
.adjust_qty_lower{
  height:50px;
  width:150px;
  border:0px solid grey;
  background-color: black;
  color:white;
  font-weight: bold;
  font-size: 42px;
  order:0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proP_wrapper{
  float:left;
  height:100px;
  width:50px;
  background-color:orange
  border:0px solid red;
  order:0;
}
.quantityPercentPro{
  float:left;
  height:25px;
  width:50px;
  background-color:yellow;
  /*color: white;*/
  border:0px solid goldenrod;
  order:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proP{
  float:left;
  height: 25px;
  width: 50px;
  background-color: limegreen;
  border: 0px solid green;
  color:yellow;
  order:1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fatP_wrapper{
  float:left;
  height:100px;
  width:50px;
  background-color:orange
  border:0px solid red;
  order:0;
}
.quantityPercentFat{
  float:left;
  height:25px;
  width:50px;
  background-color:yellow;
  border:0px solid goldenrod;
  order:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fatP{
  float:left;
  height: 25px;
  width:50px;
  background-color: skyblue;
  border: 0px solid blue;
  order:1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carbP_wrapper{
  float:left;
  height:100px;
  width:50px;
  background-color:orange
  border:0px solid red;
  order:0;
}
.quantityPercentCho{
  float:left;
  height:25px;
  width:50px;
  background-color:yellow;
  border:0px solid goldenrod;
  order:0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carbP{
  float:left;
  height: 25px;
  width:50px;
  background-color: magenta;
  border:0px solid purple;
  order:1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount_name_food_wrapper{
  height:100px;
  width:100px;
  background-color:lavender;
  border: 0px solid red;
  order:2;

}
.amount_food{
  height:50px;
  width:100px;
  background-color:blue;
  border: 0px solid red;
  order:2;display: flex;
  justify-content: center;
  align-items: center;
}

.name_food{
  height:50px;
  width:100px;
  background-color:purple;
  border: 0px solid red;
  order:2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grams_wrapper{

  height:50px;
  width:150px;
  background-color: orange;
  border:0px solid red;
  order:0;
}

.adjust_qty_higher{
  float: left;
  height:50px;
  width:150px;
  border:0px solid grey;
  background-color: black;
  color:white;
  font-weight: bold;
  font-size: 42px;
  order:3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proG_wrapper{
  float:left;
  height:100px;
  width:50px;
  background-color:orange
  border:0px solid red;
  order:3;
}
.quantityGramsPro{
  float:left;
  height:25px;
  width:50px;
  background-color:yellow;
  border:0px solid goldenrod;
  order:3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proG{
  float:left;
  height: 25px;
  width: 50px;
  background-color: limegreen;
  border: 0px solid green;
  order:4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fatG_wrapper{
  float:left;
  height:100px;
  width:50px;
  background-color:orange
  border:0px solid red;
  order:3;
}
.quantityGramsFat{
  float:left;
  height:25px;
  width:50px;
  background-color:yellow;
  border:0px solid goldenrod;
  order:3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fatG{
  float:left;
  height: 25px;
  width:50px;
  background-color: skyblue;
  border:0px solid blue;
  order:4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carbG_wrapper{
  float:left;
  height:100px;
  width:50px;
  background-color:orange
  border:0px solid red;
  order:3;
}
.quantityGramsCho{
  float:left;
  height:25px;
  width:50px;
  background-color:yellow;
  border:0px solid goldenrod;
  order:3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carbG{
  float:left;
  height: 25px;
  width:50px;
  background-color: magenta;
  border: 0px solid purple;
  order:4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.food_container2{
  padding-top:50px;
 display:flex;
 flex-direction:column;
  width:400px;
  height: 50px;
  flex-wrap: wrap;
  text-align:center;
  font-family: helvetica;
  color:;
}

.food_container3{
  padding-top:50px;
 display:flex;
 flex-direction:column;
  width:400px;
  height: 50px;
  flex-wrap: wrap;
  text-align:center;
  font-family: helvetica;
  color:;
}

.food_container4{
  padding-top:50px;
 display:flex;
 flex-direction:column;
  width:400px;
  height: 50px;
  flex-wrap: wrap;
  text-align:center;
  font-family: helvetica;
  color:;
}

.food_container5{
  padding-top:50px;
 display:flex;
 flex-direction:column;
  width:400px;
  height: 50px;
  flex-wrap: wrap;
  text-align:center;
  font-family: helvetica;
  color:;
}
  






